header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 15px 30px; 
    position: fixed;
    z-index: 10;
    width: 96.5%;
    border-bottom: 2px solid #a1a1a1;
}

.header-logo a {
    font-weight: 900;
    font-size: 24px;
    color: #000;
}

.menu {
    display: inline-flex;
}

.menu li {
    margin-right: 15px;
    color: #1f1e1e;
}

.header-icon {
    width: 35px;
    height: 25px;
    position: relative;
    display: none;
}


@media (max-width: 615px) {
    .menu {
        display: none;
    }

    .header-icon {
        display: block;
        margin-right: 25px;
    }

    .order-add, .order-dec, .order-price {
        font-size: 24px;
        font-weight: 600;
        margin-left: 5px;
    }

    .order-name {
        font-size: 26px;
    }

    .order-button img {
        width: 30px;
    }

    .order-image img {
        width: 60px;
        height: 60px;
    }

    .order-count {
        font-size: 24px;
    }
}

.cart-content {
    position: absolute;
    right: 25px;
    margin-top: 25px;
    background: #fbf8f8;
    padding: 0 10px;
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.27);
    z-index: 10;
    width: 300px;
}

.cart-header h4 {
    font-weight: 700;
    font-size: 19px;
    position: relative;
    text-align: center;
}

.cart-body {
    margin-top: 5px;
}

.empty-message {
    color: gray;
    font-weight: 600;
}