.furnitures {
    padding-top: 40px;
}

.furn-title {
    display: flex;
    justify-content: center;
}

.furn-title .title {
    font-size: 20px;
    position: relative; 
    display: inline-block;
}

.furn-title .title::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 70%;
    margin: 0 20px;
    left: 0;
    bottom: 20px;
    background: gray;
}

.furn-content {
    padding: 0 5px;
}

.furns {
    display: flex;
    justify-content: center;
}