.furn-item {
    margin-right: 15px;
    padding: 10px;
    border: 3px solid gray
}

.furn-image img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.furn-description {
    color: gray;
    width: 65%;
}

.furn-price {
    font-weight: 700;
    color: green;
}

.furn-button button {
    border: 2px solid #1e1e1e;
    background: transparent;
    color: #1e1e1e;
    padding: 10px;  
    cursor: pointer;
}

.furn-button button:hover {
    background: #1e1e1e;
    color: #fff;
}
