.furnitures {
    padding-top: 40px;
    display: flex;
    justify-content: center;
}

.furn-title {
    display: flex;
    justify-content: center;
}

.furn-title .title {
    font-size: 20px;
    position: relative; 
    display: inline-block;
}

.furn-content {
    padding: 0 5px;
}

.furns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 992px) {
    .furns {
        grid-template-columns: 1fr;
        row-gap: 15px;
    }
}
